<div class="recibo-container">
  <div class="header-buttons">
    <button class="btn-volver" (click)="volver()">
      <i class="zmdi zmdi-arrow-left"></i> Volver
    </button>
    <button class="btn-descargar" (click)="descargarPDF()">
      <i class="zmdi zmdi-download"></i> Descargar PDF
    </button>
  </div>
  
  <div class="pdf-container">
    <iframe 
      *ngIf="pdfUrl" 
      [src]="pdfUrl" 
      width="100%" 
      height="600px" 
      frameborder="0">
    </iframe>
  </div>
</div>
