<div class="confirmacion-container">
  <div class="detalles-compra">
    <!-- Botón Regresar al carrito -->
    <button class="btn-regresar" (click)="volver()">
      Volver
    </button>
    <h2>Confirmar Compra</h2>
    
    <!-- Lista de productos -->
    <div class="productos-lista">
      <div *ngFor="let libro of librosCarrito" class="producto-item">
        <img appImageLoading [src]="libro.Imagen" [alt]="libro.Titulo">
        <div class="producto-info">
          <h3>{{libro.Titulo}}</h3>
          <p>Cantidad: {{libro.Cantidad}}</p>
          <p class="precio">${{libro.Precio * libro.Cantidad}}</p>
        </div>
      </div>
    </div>

    <!-- Método de pago seleccionado -->
    <div class="metodo-pago-info">
      <h3>Método de Pago</h3>
      <div class="metodo-detalles" *ngIf="metodoPago.tipo !== 'efectivo'">
        <img appImageLoading [src]="'assets/imgs/' + metodoPago.Tipo_Tarjeta + '.png'" [alt]="metodoPago.Tipo_Tarjeta">
        <span>**** **** **** {{metodoPago.numeroMask.slice(-4)}}</span>
      </div>
      <div class="metodo-detalles" *ngIf="metodoPago.tipo === 'efectivo'">
        <i class="fas fa-money-bill"></i>
        <span>Pago en Sucursal</span>
      </div>
    </div>

    <button class="btn-confirmar" (click)="confirmarPago()">
      Confirmar Pago
    </button>
  </div>

  <!-- Resumen de compra -->
  <div class="resumen-compra">
    <h2>Resumen de Compra</h2>
    <div class="desglose">
      <div class="item-desglose">
        <span>Subtotal</span>
        <span>${{subtotal.toFixed(2)}}</span>
      </div>
      <div class="item-desglose">
        <span>Shipping</span>
        <span>${{shipping.toFixed(2)}}</span>
      </div>
      <div class="item-desglose total">
        <span>Total</span>
        <span>${{total.toFixed(2)}}</span>
      </div>
    </div>
  </div>
</div>
