<div class="login-container">
    <div class="login-form">
        <h1>CAMBIE CONTRASEÑA</h1>
        <div>
            <div class="input-group">
                <div class="password-container">
                    <input 
                    [type]="passwordVisible1 ? 'text' : 'password'" 
                    [(ngModel)]="Contra1" 
                    placeholder="Contraseña" 
                    />
                    <span class="toggle-password" (click)="togglePasswordVisibility1()">
                        <svg *ngIf="!passwordVisible1" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                        </svg>
                        <svg *ngIf="passwordVisible1" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                            <path d="M2 2L22 22" stroke="currentColor" stroke-width="2"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="input-group">    
                <div class="password-container">
                    <input 
                    [type]="passwordVisible2 ? 'text' : 'password'" 
                    [(ngModel)]="Contra2" 
                    placeholder="Confirmar Contraseña" 
                    />
                    <span class="toggle-password" (click)="togglePasswordVisibility2()">
                        <svg *ngIf="!passwordVisible2" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                        </svg>
                        <svg *ngIf="passwordVisible2" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                            <path d="M2 2L22 22" stroke="currentColor" stroke-width="2"/>
                        </svg>
                    </span>
                </div>      
            </div>
        </div>
        <button type="submit" (click)="cambiar()" class="login-button">Cambiar Contraseña</button>
    </div>
    <div class="login-background"></div>
  </div>