<nav class="navbar-user-top full-reset">
  <div class="mobile-menu-button visible-xs" style="float: left !important;">
    <i class="zmdi zmdi-menu"></i>
  </div>
  <div class="page-header">
    <h1 class="all-tittles">
      <i class="zmdi zmdi-book zmdi-hc-fw"></i> SISTEMA BIBLIOTECARIO
    </h1>
  </div>
  <ul class="list-unstyled navbar-icons">
    @if(tipou !== 'Admin' && tipou !== 'Admin Sucursal'){
      @if(mostrarBusqueda){
        <li class="tooltips-general search-book-button">
          <a (click)="openSearchModal()" title="Busqueda de Libros">
            <i class="zmdi zmdi-search"></i>
        </a>
        </li>
      }
    }
    @if(tipou==='Cliente' || tipou==='Prestamos' || tipou==='Inventario'){
      @if(mostrarCarrito){
        <li class="tooltips-general search-book-button">
          <a (click)="irAlCarrito()" title="Carrito de Compras">
            <i class="zmdi zmdi-shopping-cart"></i>
            @if(cantidadCarrito > 0){
              <span class="cart-counter">
                {{ cantidadCarrito > 9 ? '9+' : cantidadCarrito }}
              </span>
            }
          </a>
        </li>
      }
      <!-- <li class="tooltips-general search-book-button">
        <a (click)="toggleNotifications($event)" title="Notificaciones">
          <i class="zmdi zmdi-notifications"></i>
          @if(unreadNotifications > 0){
            <span class="notification-counter">
              {{ unreadNotifications > 9 ? '9+' : unreadNotifications }}
            </span>
          }
        </a>
        @if (showNotifications) {
          <div class="notifications-dropdown" (click)="$event.stopPropagation()">
            <div class="notifications-header">
              <h3>Notificaciones</h3>
              @if (notifications.length > 0) {
                <div class="notification-actions">
                  <button class="delete-all-btn" (click)="deleteAllNotifications()">
                    <i class="zmdi zmdi-delete"></i> Borrar todas
                  </button>
                  <button class="mark-all-read" (click)="markAllAsRead()">
                    <i class="zmdi zmdi-check-all"></i> Marcar como leídas
                  </button>
                </div>
              }
            </div>
            
            @if (notifications.length === 0) {
              <div class="no-notifications">
                <i class="zmdi zmdi-notifications-none"></i>
                <p>No hay notificaciones</p>
              </div>
            } @else {
              <div class="notifications-list">
                @for (notification of notifications; track notification.ID) {
                  <div 
                    class="notification-item" 
                    [class.unread]="!notification.Leido"
                    (click)="markAsRead(notification)"
                  >
                    <div class="notification-icon">
                      @switch (notification.Tipo) {
                        @case ('Prestamo') {
                          <i class="zmdi zmdi-book text-primary"></i>
                        }
                        @case ('Reserva') {
                          <i class="zmdi zmdi-calendar text-warning"></i>
                        }
                        @case ('Venta') {
                          <i class="zmdi zmdi-shopping-cart text-success"></i>
                        }
                        @default {
                          <i class="zmdi zmdi-info-outline text-info"></i>
                        }
                      }
                    </div>
                    <div class="notification-content" (click)="markAsRead(notification)">
                      <p class="message">{{ notification.Mensaje }}</p>
                      <span class="time">{{ notification.Fecha }}</span>
                    </div>
                    <button class="delete-btn" (click)="deleteNotification(notification)">
                      <i class="zmdi zmdi-delete"></i>
                    </button>
                  </div>
                }
              </div>
            }
          </div>
        }
      </li> -->
    }
    <li class="user-profile-container">
      <div class="user-info" (click)="toggleDropdown()">
          @if(Nombre!=='null'){
              <span class="user-name">{{ Nombre }}</span>
          }
          <figure>
            @if(Imagen){
              <img appImageLoading [src]="Imagen" alt="User-log" class="img-user img-responsive img-circle center-box" />
            }@else{
              <img appImageLoading src="../../../../../assets/imgs/user.png" alt="User" class="img-user img-responsive img-circle center-box" />
            }
          </figure>
      </div>
      @if (isDropdownOpen) {
          <div class="user-dropdown">
              @if(tipou !== 'Anonimo'){
                  <a class="dropdown-item" routerLink="perfil">
                      <i class="zmdi zmdi-account"></i> Cambiar Información
                  </a>
                  <a class="dropdown-item" (click)="salir()">
                      <i class="zmdi zmdi-power"></i> Salir
                  </a>
              }@else{
                <a class="dropdown-item" (click)="salir()">
                    <i class="zmdi zmdi-power"></i> Iniciar Sesión
                </a>
              }
          </div>
      }
    </li>       
  </ul>
</nav>
    