<div class="container-fluid d-flex align-items-center justify-content-between">
  <div class="footer-left">
    <h4 class="all-tittles">Acerca de</h4>
    <p>Somos GetBook, gracias por usar nuestro sistema y recuerda, si necesitas alguna edición de un libro TE LA PRESTO.</p>
  </div>
  <div class="footer-right">
    <ul class="list-inline social-icons">
      <li class="footer-social">
        <a href="https://www.facebook.com/dgbuas" target="_blank">
          <i class="zmdi zmdi-facebook zmdi-hc-2x"></i>
        </a>
      </li>
      <li class="footer-social">
        <a href="https://twitter.com/uasoficialmx?lang=es" target="_blank">
          <i class="zmdi zmdi-twitter zmdi-hc-2x"></i>
        </a>
      </li>
      <li class="footer-social">
        <a href="https://www.youtube.com/channel/UC3S8BdcMW6o4R7C202rK5Pw" target="_blank">
          <i class="zmdi zmdi-youtube-play zmdi-hc-2x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>