<div class="content-container">
  <div class="search-bar">
    <input
      type="text"
      placeholder="Buscar por Cantidad de Libros, Fecha de compra"
      [(ngModel)]="searchTerm"
      (input)="filterRecords()"
    />
  </div>
  
  <div *ngIf="filteredRecords.length > 0; else noRecords">
    <table class="loan-history-table">
      <thead>
        <tr>
          <th>ID VENTA</th>
          <th>CANTIDAD DE LIBROS</th>
          <th>FECHA DE COMPRA</th>
          <th>TOTAL</th>
          <th>CÓDIGO</th>
          <th>RECIBO</th>
          <th>FACTURA</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of filteredRecords">
          <td>{{ record.ID_Venta }}</td>
          <td>{{ record.Cantidad }}</td>
          <td>{{ record.Fecha_Venta }}</td>
          <td>${{ record.Total.toFixed(2) }}</td>
          <td>{{ record.Codigo? record.Codigo : 'N/A' }}</td>
          <td>
            <button (click)="generarRecibo(record.ID_Venta)">
              Generar Recibo
            </button>
          </td>
          <td>
            <button (click)="generateInvoice(record.ID_Venta)">
              Generar Factura
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noRecords>
    <p class="no-records">No se encontraron registros de compras.</p>
  </ng-template>
</div>
  